@CHARSET "UTF-8";
body{
background:#F8FDFE;
}
.blueFrameNW{
background-image:url(../../images/css_border/test_r1_c1.gif);
width:40px;
height:40px;
}
.blueFrameN{
background-image:url(../../images/css_border/test_r1_c2.gif);
height:40px;
}
.blueFrameNE{
background-image:url(../../images/css_border/test_r1_c3.gif);
width:40px;
height:40px;
}
.blueFrameW{
background-image:url(../../images/css_border/test_r2_c1.gif);
width:40ox;
}
.blueFrameC{
background:#FFFFFF url(../../images/css_border/5_2.png) no-repeat bottom right;
}
.blueFrameE{
background-image:url(../../images/css_border/test_r2_c3.gif);
width:40px;
}
.blueFrameSW{
background-image:url(../../images/css_border/test_r3_c1.gif);
width:40px;
height:40px;
}
.blueFrameS{
background-image:url(../../images/css_border/test_r3_c2.gif);
height:40px;
}
.blueFrameSE{
background-image:url(../../images/css_border/test_r3_c3.gif);
width:40px;
height:40px;
}