body,td,th {font-family: arial,"ו";font-size: 12px; color:#333333}
body, ul, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0; padding: 0; }
em, cite, th { font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
a{color:#6F6F6F; text-decoration:none}
a:hover{color:#6F6F6F; text-decoration:underline}
li{ list-style:none;}
img{ border:none;}
input,img{ vertical-align:middle;}
input[type="button"], input[type="submit"], input[type="reset"] {
	border:none;
	border-right: 1px solid #ACACAC;
	border-bottom: 1px solid #ACACAC;
	background-color: #F1F8B4;
	padding:2px;
	padding-right:5px;
	padding-left:5px;
	background: url(../images/allbtbg2.gif) #EFF7D0;
	cursor:pointer;
}
.clear{ clear:both}
.hidden{ display:none}
.paddingbtm8{ padding-bottom:8px;}
.marginbtm10{ margin-bottom:10px;}
.marginbtm13{ margin-bottom:13px;}
.marginbtm15{ margin-bottom:15px;}
.marginbtm20{ margin-bottom:20px;}
.marginlft15{ margin-left:15px}
.move{ cursor:move}
.floatright{ float:right}
.floatleft{ float:left}
.readmore{ color:#b6b6b6}
.blueBtn1 { background: url(../images/blueBtn1.gif) no-repeat; width: 46px; height: 20px; border-style: none; cursor:pointer; padding-right: 6px; padding-left: 6px; color: #FFF; margin-right: 2px; margin-left: 2px; float:left;}
.blueBtn2 { background: url(../images/blueBtn2.gif) no-repeat; width: 58px; height: 20px; border-style: none; cursor:pointer; padding-right: 6px; padding-left: 6px; color: #FFF; margin-right: 2px; margin-left: 2px; float:left;}
.blueBtn3 { background: url(../images/blueBtn3.gif) no-repeat; width: 70px; height: 20px; border-style: none; cursor:pointer; padding-right: 6px; padding-left: 6px; color: #FFF; margin-right: 2px; margin-left: 2px; float:left;}
.blueBtn4 { background: url(../images/blueBtn4.gif) no-repeat; width: 82px; height: 20px; border-style: none; cursor:pointer; padding-right: 6px; padding-left: 6px; color: #FFF; margin-right: 2px; margin-left: 2px; float:left;}
